<footer class="footer">
    <small>
        Fitness App by Lucie Wautelet and Nolwenn Le Guevel
    </small>
    <nav>
        <ul>
            <li><%= link_to "Contact", contact_messages_path %></li>
        </ul>
    </nav>
</footer>